body {
    margin: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0.5) 0 100%), url('./images/background-sand.jpg');
    background-size: cover;
}

.mainContainer {
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
}

header {
    justify-self: center;
}

.header {
    display: grid;
    grid-auto-flow: row;
}

button {
    background-color: rgb(219, 126, 19); /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 15px;
}

#content {
    justify-self: center;
}

.navigation {
    margin-bottom: 20px;
    justify-self: center;
}

.menuItemContainer {
    display: grid;
    grid-template-columns: 200px 600px;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    margin-bottom: 10px;
}

.menuItemImage {
    grid-row-start: span 3;
    width: 200px;
}

.menuItemName {
    font-weight: 600;
}

.menuItemPrice {
    justify-self: end;
    font-style: italic;

}
.menuItemPrice:before {
    content: '€';
}

.courseHeader {
    border-bottom: 1px rgb(219, 126, 19) solid;
}

.hoursList {
    list-style: none;
}

.homeContainer, .aboutContainer {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    row-gap: 10px;
    margin-bottom: 10px;
    min-width: 600px;
}

.welcomeContainer, .addressContainer {
    padding: 5px 15px;
    text-align: center;
    width: 60%
}

.hoursContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 5px 15px;
}

.boxBorder {
    border: 2px rgb(219,126,19, 0.3) solid;
    border-radius: 5px;
    background-color: rgb(219,126,19,0.1);
}