.mainContainer, .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    justify-content: center;
}

.menuItemContainer {
    display: grid;
    grid-template-columns: 200px 600px;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    margin-bottom: 10px;
}

.menuItemImage {
    grid-row-start: span 3;
    width: 200px;
}

.menuItemName {
    font-weight: 600;
}

.menuItemPrice {
    justify-self: end;
    font-style: italic;

}
.menuItemPrice:before {
    content: '€';
}